/doc/html
/doc/latex
/docs/html
/docs/latex
.DS_Store
*.swp
*.o
*.lo
.deps
*.orig
Makefile.in
Makefile
*~
*.xcuserdatad
xcuserdata
*.a
*.la
/build
/DerivedData
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/libtool
/src/config.h
/m4
src/stamp-h1
src/config.h.in
doxygen.cfg
*.gz
xcshareddata
